* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #c4a53f, #c2715b);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header,
form {
  min-height: 20vh;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  background: white;
  border: none;
}

form button {
  color: #c2715b;
  background: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

form button:hover {
  background-color: #c2715b;
  color: white;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  list-style: none;
  min-width: 35%;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.completed-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.completed-btn {
  background: rgb(50, 197, 50);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

/* Custon Selector */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 0.7rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 10rem;
  padding: 0.7rem;
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}

/* Transition */

/* .select:hover::after {
  transform: scale(1.5);
} */
